body{
  background-color:rgb(60, 57, 57);
}

.to-do-list{
  text-align: center;
  margin-top: 100px;
 
}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-button{
  background-color: rgb(47, 149, 47);
}
.add-button:hover{
  background-color:  rgb(82, 181, 82);
}

.delete-button{
  background-color: rgb(147, 45, 45);
}
.delete-button:hover{
  background-color: rgb(214, 107, 107);
}

.move-button{
  background-color:rgb(63, 63, 194);
}
.move-button:hover{
  background-color:rgb(104, 104, 217);
}
input{
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 5px;
  color: rgb(17, 17, 17);
}
ol{
  padding: 0;

}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color:white;
  margin-bottom: 10px;
  border: 3px solid lightgrey;
  display: flex;
  color: black;
  text-align: center;
  border-radius: 5px;
  width: 500px;
  margin: auto;
  margin-top: 10px;

}
.text{
  flex: 1;
}

.move-button , .delete-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}